appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.2
django-environ==0.4.5
django-password-reset==2.0
django-simpleui==2020.9.26
environs==8.0.0
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
isort==5.5.0
joblib==0.17.0
lazy-object-proxy==1.4.3
marshmallow==3.8.0
mccabe==0.6.1
numpy==1.19.4
pbr==5.5.0
Pillow==8.0.1
pipenv==2020.8.13
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pylint==2.6.0
python-dotenv==0.15.0
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sqlparse==0.4.1
stevedore==3.2.2
threadpoolctl==2.1.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.33
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
whitenoise==5.2.0
wrapt==1.12.1
yum==0.0.1
zipp==3.4.0
